/* CSS Document */
body{background:#f6f6f6;}.clear{clear:both; height:0; line-height:0; font-size:0; visibility:hidden; overflow:hidden;}img{vertical-align:bottom;}

.n_con {width:1000px;margin:100px auto 0 auto;overflow: hidden;zoom: 1;}

p.yc_banner{margin-top:35px;}

p.n_nav{margin-top:20px; zoom:1; overflow:hidden;}
p.n_nav a{float:left; height:22px; line-height:22px; padding:0 10px; text-decoration:none;}
p.n_nav a:hover{background:#eee;}
p.n_nav a.selected{background:#6bba05;}
p.n_nav a.selected:link,p.n_nav a.selected:visited{color:#fff;}
p.n_nav a.more:link,p.n_nav a.more:visited{color:#ff8303;}


.w710{width:710px; margin-right:50px; display:inline; overflow:hidden;}
.w240{width:240px;}
.w330{width:330px;height:237px; display:inline;}

h3.bk_title{border-bottom:#fff solid 1px;}
h3.bk_title ol{border-bottom:#e6e6e6 solid 1px; height:38px;}
h3.bk_title ol li{position:relative; float:left; height:38px; width:95px; font-size:16px; font-weight:normal; font-family:"\5FAE\8F6F\96C5\9ED1"; color:#333;}
h3.bk_title ol li a{position:absolute; height:38px; line-height:34px; width:100%; text-align:center; border-bottom:#77cd23 solid 2px;}

.bk_lists ul{padding:6px 0; zoom:1;}
.bk_lists ul li{white-space:nowrap; height:26px; line-height:26px; border-bottom:#f6f6f6 solid 1px; overflow:hidden; float:left; width:100%}
.bk_lists ul li:hover{border-bottom:#e0e0e0 solid 1px;}
.bk_lists ul li a{overflow:hidden; text-overflow:ellipsis; float:left; font-size:12px;}
.bk_lists ul li a:hover{color:#e00; text-decoration:none; _text-decoration:underline;}
.w330 ul li a.m_t{width:180px; margin-right:10px; white-space:nowrap;}
.w330 ul li a.m_tz{width:295px;}
.w330 ul li a.m_t span{overflow:hidden; text-overflow:ellipsis; float:left;}
.w330 ul li a.m_t span.m_t{width:180px;}
.w330 ul li a.m_t span.m_z{color:#999; margin-left:25px; width:90px;}
.w330 ul li a.m_p{width:25px; overflow:hidden; text-indent:-999px; background:url(../images/icons.png) -62px 1px no-repeat;}
.w330 ul li a.m_p:hover{background:url(../images/icons.png) -62px -24px no-repeat;}
.w240 ul li a.m_t{width:130px; margin-right:25px; display:inline;}
.bk_lists ul li a.m_t:link,.bk_lists ul li a.m_t:visited{color:#0f820c;}
.w330 ul li a.m_z{width:90px; color:#666; margin-right:10px;}
.w240 ul li a.m_z{width:80px; color:#666;}
.w330 ul li a.m_z:hover,.w330 ul li a.m_t:hover span,.w240 ul li a.m_z:hover,.bk_lists ul li a.m_t:hover{color:#e00;}
.w330_1 {height:276px;}

.bk_items ul{zoom:1; overflow:hidden; width:740px;}
.bk_items ul li{white-space:nowrap; border-bottom:#f6f6f6 solid 1px; overflow:hidden; float:left; display:inline;}
.bk_items ul li a{overflow:hidden; text-overflow:ellipsis; font-size:12px; display:block;}
.bk_items ul li a.m_t:link,.bk_items ul li a.m_t:visited{color:#0f820c;}
.bk_items ul li a.m_z:link,.bk_items ul li a.m_z:visited{color:#666;}
.bk_items ul li a.m_t:hover,.bk_items ul li a.m_z:hover{color:#e00;}
.bk_items ul.bk_w155 li a.m_t{height:35px; line-height:50px; font-size:14px;}
.bk_items ul li a.m_z{height: 25px; line-height: 32px;}
.bk_items ul.bk_w155 li a.m_t,.bk_items ul li a.m_z{width:155px;}

.bk_items ul.bk_w340 li{width:240px; height:90px; margin:30px 30px 0px 0; position:relative; padding:0 0 0 100px;}
.bk_items ul.bk_w340 li a.m_poto{position:absolute; left:0px; top:0;}
.bk_items ul.bk_w340 li a.m_t{font-size:14px; height:25px; line-height:25px;}
.bk_items ul.bk_w340 li a.m_t,.bk_items ul.bk_w340 li a.m_z{width:210px;}
.bk_items ul.bk_w340 li a.m_z:link,.bk_items ul.bk_w340 li a.m_z:visited{color:#999;}
.bk_items ul.bk_w340 li a.m_z:hover{color:#e00;}
.bk_items ul.bk_w340 li a.m_p{width:25px; height:26px; overflow:hidden; text-indent:-999px; background:url(../images/icons.png) -62px 1px no-repeat #f6f6f6; position:absolute; top:10px; right:0;}
.bk_items ul.bk_w340 li a.m_p:hover{background:url(../images/icons.png) -62px -24px no-repeat;}
.bk_items ul.bk_w340 li p{white-space:normal; margin-top:5px;}

.bk_items ul.bk_w155 li{width:155px; margin: 15px 30px 0px 0; text-align:center;}

.bk_items ul.bk_w122 li{width:122px; height:118px; margin:15px 25px 10px 0; position:relative;}
.bk_items ul.bk_w122 li span{position:absolute; bottom:0; left:0; width:100%; padding:5px 0; background:rgba(0,0,0,0.8); _background: #000; filter: Alpha(Opacity=80);}
.bk_items ul.bk_w122 li span{color:#19e019; cursor:pointer;}
.bk_items ul.bk_w122 li em,.bk_items ul.bk_w122 li strong{display:block; padding:0 5px; font-weight:normal; overflow:hidden; text-overflow:ellipsis; width:112px;}
.bk_items ul.bk_w122 li em{color:#fff;}
.bk_items ul.bk_w122 li a:hover span,.bk_items ul.bk_w122 li a:hover span em{color:#e00;}

.w330 dl{overflow:hidden; zoom:1; margin-top:25px; _margin-top:23px;}
.w330 dl dt,.w330 dl dd{float:left;}
.w330 dl dd{width:258px; position:relative; white-space:nowrap; overflow:hidden; display:inline;}
.w330 dl dd a.m_z{width:190px; overflow:hidden; text-overflow:ellipsis; padding-left:10px; display:block; font-size:14px;}
.w330 dl dd a.m_z:link,.w330 dl dd a.m_z:visited{color:#0f820c;}
.w330 dl dd a.m_z:hover{color:#e00;}
.w330 dl dd a.m_p{position:absolute; right:0; top:0; background:#e7f4d5; border:#b9cf9b solid 1px; height:20px; line-height:20px; width:58px; text-align:center;}
.w330 dl dd p{white-space:normal; margin-top:10px; padding-left:10px;}}


/* - song lists -------------------- */
.ad_970{margin:25px auto 25px; width:1000px;}

ul.fx_menu,ul.listmenu{float:left; zoom:1; overflow:hidden; position:fixed; background: #f6f6f6;}
ul.fx_menu li,ul.listmenu li{margin-bottom:2px;}
ul.fx_menu li a,ul.listmenu li a{display:block; background:#fcfcfc; height:40px; line-height:40px; width:170px; font-size:14px; text-indent:15px;}
ul.fx_menu li a:hover,ul.listmenu li a:hover{text-decoration:none; background:#ceebb2; color:#333;}
ul.fx_menu li a.selected,ul.listmenu li a.selected{background:#85cd3e; color:#fff;}
ul.fx_menu{position:fixed;}
ul.fx_menu{_top: expression(documentElement.scrollTop+30+'px'); _position: absolute;}

.w780{width:780px;}
dl.song_sort{background:#fcfcfc; padding:20px;margin-bottom: 35px;}
dl.song_sort dd{overflow:hidden; zoom:1;}
dl.song_sort dt{color:#999; height:35px; line-height:40px;}
dl.song_sort dd a{display:block; float:left; padding:3px 10px; margin:0 8px 4px 0;}
dl.song_sort dd a:hover{text-decoration:none; background:#ceebb2; color:#333;}
dl.song_sort dd a.selected{color:#fff; background:#6db823;}

.w780 .lists ol{background:#fcfcfc; padding:7px 0; margin:0 0 10px 0; overflow:hidden; zoom:1;}
.w780 .lists ol li{float:left;}
.w780 .lists ol li.t_name{width:388px; padding:0 10px;}
.w780 .lists ol li.t_time{width:112px; text-align:center;}
.w780 .lists ol li.t_rq{width:156px; text-align:center;}
.w780 .lists ol li.t_action{width:94px; text-align:center;}

.w780 .lists dl{overflow:hidden; zoom:1; border-bottom:#ddd dashed 1px;}
.w780 .lists dl:hover{background:#fcfcfc;}
.w780 .lists dl dt,.w780 .lists dl dd{float:left; padding:20px 0; height:48px;}
.w780 .lists dl dt{width:48px; padding-left:10px;}
.w780 .lists dl dd.l_info{padding:20px; width:310px; white-space:nowrap;}
.w780 .lists dl dd.l_info h3{font-size:16px; line-height:27px; font-weight:normal;overflow:hidden; text-overflow:ellipsis;}
.w780 .lists dl dd.l_info p,.w780 .lists dl dd.l_info p.m_z a:link,.w780 .lists dl dd.l_info p.m_z a:visited{color:#999;}
.w780 .lists dl dd.l_info p.m_z a:hover{color:#e00;}
.w780 .lists dl dd.l_time,.w780 .lists dl dd.l_rq{line-height:48px; text-align:center;}
.w780 .lists dl dd.l_time{width:112px; text-align:center;}
.w780 .lists dl dd.l_rq{width:156px; }
.w780 .lists dl dd.l_action{width:78px; padding:20px 8px;}
.w780 .lists dl dd.l_action a{float:left; width:22px; height:22px; overflow:hidden; background:url(http://static.5sing.kugou.com/top/image/ticon_24.png) no-repeat; margin:14px 2px; display:inline; text-indent:-999px;}
.w780 .lists dl dd.l_action a.m_date_down{background-position:-22px 0;}
.w780 .lists dl dd.l_action a.m_date_shou{background-position:-66px 0;}
.w780 .lists dl dd.l_action a:hover{background-position:0 -22px;}
.w780 .lists dl dd.l_action a.m_date_down:hover{background-position:-22px -22px;}
.w780 .lists dl dd.l_action a.coll,.w780 .lists dl dd.l_action a.m_date_shou:hover{background-position:-66px -22px;}


.page{overflow:hidden; zoom:1; padding:35px 0 5px;}
.page_num{ float:right; padding:4px 0 2px 0;}
.page_num em{ color:#6DB823; font-weight:900;}
.page_rt{ float:right; overflow:hidden; zoom:1; padding-top:3px;}
.page_rt ul{ overflow:hidden; zoom:1; float:right;}
.page_rt ul li{ float:left; margin-left:3px;}
.page_rt ul li a{display:block;padding:3px 6px 1px;border:1px solid #ddd;}
.page_rt ul li a:hover{ background:#6DB823; color:#fff; text-decoration:none;}
.page_rt ul li.list_c a{ background:#6DB823; color:#fff;}
.play_all{ float:left; display:block;}
.play_all a{ display:block; border:1px solid #fff; width:113px; height:28px; line-height:28px; line-height:32px\9; _line-height:28px; text-indent:32px;background:url(http://static.5sing.kugou.com/images/yc_bg.png) no-repeat 7px -167px #6db823; overflow:hidden;}
.play_all a:link,.play_all a:visited{ color:#fff;}
.play_all a:hover{ border:1px solid #499200; text-decoration:none;}

/* -song lists end---------------------- */

.footer{margin-top:40px;}
.footer p{border-top:#e6e6e6 solid 1px; color:#999; padding:30px 0; text-align:center; margin-top:32px;}
.mb_nav{margin:15px 0;}

/*修正分页样式冲突*/
.n_con .page {font-size: 12px;}
.n_con .play_all a {padding: 0;}
.n_con .page_rt a {line-height: normal;}
