@charset "UTF-8";
body{font:12px/1.5 'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;background:#f5f5f5;color:#666;}
body,form,p,ol,ul,p,h1,h2,h3,h4,li,dt,dd,dl,li{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;}
ul,dd,dl,dt,ol,li{list-style:none;}
em,cite{font-style:normal;}
img{vertical-align:middle;}
input,textarea,select{outline:none;vertical-align:middle;}
a:link,a:visited{text-decoration:none;color:#666666;}
a:hover{text-decoration:none;color:#e00;}
.clear{clear:both;}
.clearfix:after{content:".";display:block;font-size:0px;line-height:0px;height:0;clear:both;visibility:hidden;}
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}
.ell{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.cell_bk{display:table;width:100%;table-layout:fixed;word-wrap:break-word;}
.ellipsis{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.trans{-webkit-transition:all 0.3s;transition:all 0.3s;}

/* header */
.ws_head_wrap{width:100%;height:60px;min-width:1000px;background:#222 url(../images/top_bg.png) repeat-x;text-align:center;}
.ws_head_wrap .head{width:1000px;margin:0 auto;}
.ws_head_wrap .head .logo{width:125px;height:40px;float:left;padding:10px 0;}
.ws_head_wrap .head .logo img{width:100%;height:100%;}

.ws_head_wrap .ser_box{width:262px;height:32px;padding:14px 0 14px 58px;float:left;}
.ws_head_wrap .serach{position:relative; width:100%;height:100%;background:url(../images/head_sprite.png) 0 0 no-repeat;}
.ws_head_wrap .serach .seh_v{width:200px;height:28px;float:left;margin-top:1px;border:0;padding-left:20px;background:transparent;color:#999;font-family:'Microsoft Yahei';}
.ws_head_wrap input::-webkit-input-placeholder{color:#999;}
.ws_head_wrap input:-moz-placeholder{color:#999;}
.ws_head_wrap input::-moz-placeholder{color:#999;}
.ws_head_wrap input:-ms-input-placeholder{color:#999;}
.ws_head_wrap .serach .seh_b{width:40px;height:32px;float:right;text-indent:-9999px;}

.ws_head_wrap .top_nav{float:right;height:60px;line-height:40px;}
.ws_head_wrap .top_nav ul{float:left;}
.ws_head_wrap .top_nav ul li{float:left;position:relative;}
.ws_head_wrap .top_nav li a{color:#fff;padding:10px;display:block;}
.ws_head_wrap .top_nav li a:hover{color:#6c0;}
.ws_head_wrap .top_nav ul ul{float:none;position:absolute;background:#fff;border:1px solid #ddd;top:40px;z-index:9999;display:none;}
.ws_head_wrap .top_nav .msgcount,.ws_head_wrap .top_nav .count{font-style:normal;font-size:10px;background:#f00;color:#fff;border-radius:9px;padding:0px 5px;line-height:17px;position:absolute;}
.ws_head_wrap .top_nav .msgcount{top:-12px;left:8px;}
.ws_head_wrap .top_nav .count { position: static; float: right; margin-top: 6px; color: #fff; }
.ws_head_wrap .top_nav .msg_box{width:110px;left:-12px;}
.ws_head_wrap .top_nav .msg_box li{height:30px;line-height:30px;text-align:left;}
.ws_head_wrap .top_nav .upload_box{left:5px;}
.ws_head_wrap .top_nav .app_box{left:-10px;}
.ws_head_wrap .top_nav ul ul li{float:none;display:block;}
.ws_head_wrap .top_nav li a i{float:left;margin:12px 10px 12px 5px;background-image:url(../images/head_sprite.png);background-repeat:no-repeat;}
.ws_head_wrap .top_nav ul ul a{color:#3c3c46;padding:0 10px;height:30px;line-height:30px;}
.ws_head_wrap .top_nav ul ul a:hover{color:#000;background:#f1f1f1;}
.ws_head_wrap .top_nav .icon_phone{width:9px;height:16px;background-position:0 -36px;}
.ws_head_wrap .top_nav .icon_upload{width:16px;height:14px;background-position:-33px -36px;}
.ws_head_wrap .top_nav .icon_msg{width:14px;height:11px;margin-top:15px;background-position:-14px -36px;position:relative;}
.ws_head_wrap .top_nav .headpic_s{margin-right:5px;}
.ws_head_wrap .top_nav .headpic_s img{vertical-align:middle;border-radius:100%;}
.ws_head_wrap .top_nav .head_box{display:none;width:290px;height:318px;border:0;border-top:3px solid #32b150;left:-70px;top:60px;box-shadow:0px 1px 1px 1px rgba(0,0,0,.3);-webkit-box-shadow:0px 1px 1px 1px rgba(0,0,0,.3);}
.ws_head_wrap .top_nav .head_box_top{height:52px;background:#232323;padding:4px 15px;}
.ws_head_wrap .top_nav .head_box_top .item{height:26px;line-height:26px;color:#999;}
.ws_head_wrap .top_nav .head_box_top .sign_box{min-width:140px;max-width:155px;float:left;text-align:left;}
.ws_head_wrap .top_nav .head_box_top .sign_box .day{color:#fff;padding:0 5px;}
.ws_head_wrap .top_nav .head_box_top .signBtn{float:right;width:44px;height:20px;background:url(../images/head_sprite.png) -218px -36px no-repeat;text-indent:-9999px;margin-top:3px;padding:0;line-height:100%;}
.ws_head_wrap .top_nav .head_box_top .signBtned{background-position:-174px -36px;}
.ws_head_wrap .top_nav .head_box_top .coin_box{max-width:110px;float:right;text-align:left;overflow:hidden;}
.ws_head_wrap .top_nav .head_box_top .coin_box i{width:14px;height:16px;background:url(../images/head_sprite.png) -54px -36px no-repeat;float:left;margin:5px 5px 0 0;}
.ws_head_wrap .top_nav .head_box_top .coin_box .coin{color:#fff;padding:0 5px;}
.ws_head_wrap .top_nav .head_box_top .icon{float:left;width:20px;height:20px;padding:0;line-height:100%;margin-right:10px;margin-top:3px;height:16px;width:16px;}
.ws_head_wrap .top_nav .head_box_top .icon img{width:100%;height:100%;}
.ws_head_wrap .top_nav .head_box_ct ul{display:block;position:static;border:0;margin:0 10px 8px;overflow:hidden;}
.ws_head_wrap .top_nav .head_box_ct li{float:left;border-bottom:1px solid #f3f3f3;border-left:1px solid #f3f3f3;margin-left:-1px;width:33%;height:70px;text-align:center;}
.ws_head_wrap .top_nav .head_box_ct li a{padding:0;display:block;height:60px;padding-top:10px;color:#999;}
.ws_head_wrap .top_nav .head_box_ct li a:hover{color:#32b150;}
.ws_head_wrap .top_nav .head_box_ct li a i{float:none;display:block;margin:0 auto;background-image:url(../images/headboxsprite.png);width:24px;height:24px;}
.ws_head_wrap .icon_box{background-position:-96px -48px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_box{background-position:-120px -48px;}
.ws_head_wrap .icon_gqgl{background-position:-96px 0;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_gqgl{background-position:-120px 0;}
.ws_head_wrap .icon_grzx{background-position:0 0;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_grzx{background-position:-24px 0;}
.ws_head_wrap .icon_cert{background-position:-48px -48px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_cert{background-position:-72px -48px;}
.ws_head_wrap .icon_wdcf{background-position:-48px -24px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_wdcf{background-position:-72px -24px;}
.ws_head_wrap .icon_wdhy{background-position:0 -24px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_wdhy{background-position:-24px -24px;}
.ws_head_wrap .icon_wdzy{background-position:-48px 0;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_wdzy{background-position:-72px 0;}
.ws_head_wrap .icon_yyr{background-position:0 -48px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_yyr{background-position:-24px -48px;}
.ws_head_wrap .icon_zhsz{background-position:-96px -24px;}
.ws_head_wrap .top_nav .head_box_ct li a:hover .icon_zhsz{background-position:-120px -24px;}
.ws_head_wrap .top_nav ul ul a.logout{text-align:center;background:#f3f3f3;font-size:14px;height:38px;line-height:38px;}
.ws_head_wrap .top_nav ul ul a.logout:hover{color:#333;background:#e0e0e0;}
.ws_head_wrap .top_nav ul .arr{width:14px;height:5px;position:absolute;top:-8px;left:138px;background:url(../images/head_sprite.png) -72px -36px no-repeat;}

/* nav */
.ws_nav_wrap{width:100%;min-width:1000px;text-align:center;background:#222322;-webkit-box-shadow:0 0 0 1px rgb(51,51,51) inset;-moz-box-shadow:0 0 0 1px rgb(51,51,51) inset;-ms-box-shadow:0 0 0 1px rgb(51,51,51) inset;box-shadow:0 0 0 1px rgb(51,51,51) inset;}
.ws_nav_wrap .nav{width:1000px;margin:0 auto;height:38px;line-height:38px;}
.ws_nav_wrap .nav li{float:left;margin-right:10px;}
.ws_nav_wrap .nav li a{display:block;padding:0 15px;height:34px;line-height:38px;border-bottom:4px solid #222322;font-size:14px;color:#fff;}
.ws_nav_wrap .nav li a:hover{color:#6c0;}
.ws_nav_wrap .nav li a.curr{font-size:16px;border-color:#32b150;}
.ws_nav_wrap .nav .bar{font-size:16px;}

/* footer */
.ws_global_footer{width:100%;min-width:1000px;}
.ws_footer_con{height:140px;background:#efefef;}
.ws_footer_info{background: #333;}
.ws_global_footer .content{width:1000px;margin:0 auto;padding:15px 0 10px;background:transparent;}
.ws_global_footer .content a{color:#999;}
.ws_global_footer .content a:hover{color:#4caff4;}
.ws_global_footer h6{padding:0;height:40px;line-height:40px;font-size:16px;font-weight:400;color:#666;margin:0 0 10px 0;}

.ws_global_footer .concur{width:400px;float:left;background:url(../images/foot_line.png) 399px 15px no-repeat;min-height:115px;}
.ws_global_footer .concur a{float:left;width:90px;height:40px;background:url(../images/bom_logo.png) no-repeat;margin-right:6px;text-decoration:none;}
.ws_global_footer .concur a.lg_01{background-position:0 0;}
.ws_global_footer .concur a.lg_02{background-position:-90px 0;}
.ws_global_footer .concur a.lg_03{background-position:-180px 0;}
.ws_global_footer .concur a.lg_04{background-position:-270px 0;}
.ws_global_footer .concur a.lg_01:hover{background-position:0 -40px;}
.ws_global_footer .concur a.lg_02:hover{background-position:-90px -40px;}
.ws_global_footer .concur a.lg_03:hover{background-position:-180px -40px;}
.ws_global_footer .concur a.lg_04:hover{background-position:-270px -40px;}
.ws_global_footer .concur h6 a{display:block;width:63px;height:100%;text-indent:-9999px;background:url(../images/bom_logo.png) -360px 7px no-repeat;}
.ws_global_footer .concur h6 a:hover{background-position:-360px -34px;}

.ws_global_footer .topic{padding-left:20px;width:366px;float:left;background:url(../images/foot_line.png) 385px 15px no-repeat;min-height:115px;}
.ws_global_footer .topic li{float:left;width:165px;height:22px;line-height:22px;padding-right:10px;}

.ws_global_footer .download{padding-left:20px;width:194px;float:left;min-height:115px;}
.ws_global_footer .download .down_l{width:100px;float:left;line-height:22px;}
.ws_global_footer .download .down_r{width:94px;float:left;position:relative;}
.ws_global_footer .download .down_r a{display:block;width:88px;height:22px;line-height:22px;border:1px solid #d7d7d7;background:#fff;text-decoration:none;}
.ws_global_footer .download .down_r a:hover{border-color:#c0c0c0;color:#666;}
.ws_global_footer .download .down_r .wb{margin:-15px 0 10px;}
.ws_global_footer .download .down_r a i{float:left;width:24px;height:24px;background-repeat:no-repeat;margin:0 5px 0;background-image:url(../images/foot_sprite.png);background-repeat:no-repeat;}
.ws_global_footer .download .down_r .wb i{background-position:0 0;}
.ws_global_footer .download .down_r .wb:hover i{background-position:0 -24px;}
.ws_global_footer .download .down_r .wx i{background-position:0 -48px;}
.ws_global_footer .download .down_r .wx:hover i{background-position:0 -72px;}
.ws_global_footer .download .down_r .qrcode{width:200px;height:220px;background:url(../images/foot_sprite.png) -24px 0 no-repeat;position:absolute;bottom:0;right:-190px;display:none;z-index:11;}

.ws_footer_info .content{padding:15px 0 25px;}
.ws_footer_info p{height:22px;line-height:22px;text-align:center;color:#999;text-align:left;}
.ws_footer_info .f_nav{margin-bottom:10px;color:#fff;}
.ws_footer_info .f_nav a{color:#fff;margin:0 28px 0 0;}
.ws_footer_info .f_nav a:hover{color:#6c0;text-decoration:none;}

/*搜索下拉*/
.lt{float:left;}
.rt{float:right;}
.rel{position:relative;}
.abs{position:absolute;}
.ico{text-indent:-9999em; display:block; overflow:hidden;}

.ser_tips{top:34px;left:0px;z-index:10000;}
.ser_tips a:link,.ser_tips a:visited{color:#333; height:50px; line-height:50px; padding:0 15px; border-top:#eee solid 1px; margin-top:-1px;}
.ser_tips a:hover{background:#efefef;}
.ser_tips .ser_history_box,.ser_tips .ser_hot_box,.ser_tips .ser_res_box{background:#fff;border:#eee solid 1px;border-radius:3px;width:324px;}
.ser_tips .ser_history_box dt,.ser_tips .ser_hot_box dt{background:#f2f2f2; height:50px; line-height:50px; font-size:14px; color:#999; padding:0 15px;}
.ser_tips .ser_history_box dt i.ico,.ser_tips .ser_hot_box dt i.ico{width:18px; height:18px; background:url('http://static.5sing.kugou.com/public/images/t_icon.png') -41px 0 no-repeat; margin:15px 5px 0 0;}
.ser_tips .ser_history_box{}
.ser_tips .ser_history_box dd a.a_btn span.lt{width:17px; height:17px; border-radius:2px; font-size:12px; line-height:17px; margin:16px 5px 0 0; color:#999; text-align:center;}
.ser_tips .ser_history_box dd a.a_btn i.ico{width:18px; height:18px; background:url('http://static.5sing.kugou.com/public/images/t_icon.png') -77px 0 no-repeat; margin:15px 0 0 0;}
.ser_tips .ser_history_box dd a.a_btn:hover i.ico{background-position:-95px 0;}
.ser_tips .ser_hot_box dt i.ico{background-position:-58px 0;}
.ser_tips .ser_hot_box dd a.a_btn span.lt{width:17px; height:17px; border-radius:2px; font-size:12px; line-height:17px; margin:16px 5px 0 0; color:#999; text-align:center;}
.ser_tips .ser_hot_box dd a.a_btn span.top_01{background:#f06262; color:#fff;}
.ser_tips .ser_hot_box dd a.a_btn span.top_02{background:#ffae00; color:#fff;}
.ser_tips .ser_hot_box dd a.a_btn span.top_03{background:#9fda38; color:#fff;}
.ser_tips .ser_hot_box dd a.a_btn i.ico{width:18px; height:18px; background:url('http://static.5sing.kugou.com/public/images/t_icon.png') -77px 0 no-repeat; margin:15px 0 0 0;}
.ser_tips .ser_hot_box dd a.a_btn:hover i.ico{background-position:-95px 0;}
.ser_tips .ser_res_box{border-top:none;}
.ser_tips .ser_res_box table tr th{border-right:#eee solid 1px; border-top:#eee solid 1px; vertical-align:top; background:#f8f8f8; font-weight:normal; color:#999; padding-top:10px;}
.ser_tips .ser_res_box table tr td{border-top:#eee solid 1px; text-align:left;}
.ser_tips a.a_btn{display:block;}
.ser_tips .ser_res_box td a {width: 230px;}
.ser_tips .ser_res_box table tr td a.a_btn i.ico{width:18px; height:18px; background:url('http://static.5sing.kugou.com/public/images/t_icon.png') -77px 0 no-repeat; margin:15px 0 0 0;}
.ser_tips .ser_res_box table tr td a.a_btn:hover i.ico{background-position:-95px 0;}
.ser_tips .ser_res_box table tr td a.a_btn .key{color:#66cc00; font-weight:bold;}
.ser_tips .ser_res_box table tr td a.a_btn .u_head_img{width:24px; height:24px; line-height:24px; padding:13px 8px 0 0;}
